<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-daniel-readcalls" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ReadCalls</name>
    <js-module name="ReadCalls" src="www/ReadCalls.js">
        <clobbers target="readCalls" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ReadCalls"><param name="android-package" value="br.com.daniel.readcalls.ReadCalls" /></feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.READ_CALL_LOG"/>
        </config-file>
        <source-file src="src/android/ReadCalls.java" target-dir="src/br/com/daniel/readcalls/ReadCalls" />
    </platform>
</plugin>